*{
box-sizing:border-box;
margin:0;
}
html {
height:100%;
font-size:16px;
font-family: Arrival Apercu Pro, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
line-height: 1.4;
}
.block {
width:650px;
max-width:650px;
display: block;
text-align: left;
padding-left:2rem;
margin-bottom:2rem;
}
.componenthover > div{
box-sizing: border-box;
border:1px solid rgba(32, 68, 255, 0);;
background-color: transparent;
border-radius: 4px;
text-decoration: none;
}
.componenthover > div:hover{
box-sizing: border-box;
border:1px solid rgba(32, 68, 255, 0.04);
background-color: rgba(32, 68, 255, 0.03);
border-radius: 4px;
}
div #page-builder p, div #page-builder h3, div #pb-section-numbering {
font-family: Arrival Apercu Pro,-apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
div #page-builder h1, div #page-builder h2 {
font-weight:500;
font-size:2rem;
line-height:44px;
font-family: Arrival Apercu Pro, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin:0;
}
div #page-builder h2 {
font-weight:300;
}
div #page-builder h3 {
font-weight:500;
line-height:38px;
}
body {counter-reset:section;}
div #pb-section-numbering h3 {
counter-reset:subsection;
font-weight:500;
font-size:20px;
line-height:30px;
font-family: Arrival Apercu Pro, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
margin-bottom:0.5rem;
}
div #pb-section-numbering p {
margin-left:1.7rem;
}
div #pb-section-numbering h3:before
{
counter-increment:section;
content:"" counter(section) ". ";
margin-right: 0.5rem;
}
div #pb-section-numbering p:before
{
counter-increment:subsection;
content:counter(section) "." counter(subsection) " ";
margin-right: 0.5rem;
}
.remove-element {
font-family: Arrival Apercu Mono Pro, -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
text-transform:uppercase;
font-size:11.25px;
line-height:14px;
border: none;
outline:0;
border-radius:4px;
background-color: rgba0(0, 0, 0, 0.5);
color:#000000;
padding:4px;
width:auto;
position: absolute;
margin-top:0px;
margin-left:650px;
cursor:pointer;
}
.up, .down        { cursor: pointer;margin-right: 0.5rem;} /* move up/move down block component controls */
.up:after         { content: '△'; }
.up:hover:after   { content: '▲'; }
.down:after       { content: '▽'; }
.down:hover:after { content: '▼'; }
/*Admonitions*/
.admonition{
padding: 2em;
border-left: 8px solid transparent;
font-family: Arrival Apercu Pro,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color:#23262C;
}
.admonition .title {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight:500;
  font-size:24px;
}
.tip {
border-color: #000;
background-color: rgba(15, 16, 17, 0.06);
}
.caution {
border-color: #f5d60a;
background-color: #feffe6;
background-image: url("data:image/svg+xml,%3Csvg id='eed8248c-7172-4921-9581-4e3d0434a682' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105 32'%3E%3Cpath d='M261,405h73a16,16,0,0,1,16,16h0a16,16,0,0,1-16,16H261a16,16,0,0,1-16-16h0A16,16,0,0,1,261,405Z' transform='translate(-245 -405)' style='fill:%23101112;fill-opacity:0.05999999865889549'/%3E%3Cpath d='M265,422.78a1.78,1.78,0,1,0-1.78-1.78A1.78,1.78,0,0,0,265,422.78Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3Cpath d='M271.14,420.74l-.36.26.36.26h0l0,0-.09.12-.35.42a14.27,14.27,0,0,1-1.29,1.27,6,6,0,0,1-8.74,0,13.05,13.05,0,0,1-1.29-1.27l-.35-.42-.09-.12,0,0h0l.36-.26-.36-.26h0l0,0,.09-.12.35-.42a13.05,13.05,0,0,1,1.29-1.27,6,6,0,0,1,8.74,0,14.27,14.27,0,0,1,1.29,1.27l.35.42.09.12,0,0h0Zm-11.13.52-.22-.26.22-.26a12.07,12.07,0,0,1,1.19-1.18,5.16,5.16,0,0,1,7.6,0,12.07,12.07,0,0,1,1.19,1.18l.22.26-.22.26a12.07,12.07,0,0,1-1.19,1.18,5.16,5.16,0,0,1-7.6,0A12.07,12.07,0,0,1,260,421.26Z' transform='translate(-245 -405)' style='fill:%23101112;fill-rule:evenodd'/%3E%3Cpath d='M270.78,421l.36-.26.19.26-.19.26Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3Cpath d='M258.86,420.74l.36.26-.36.26-.19-.26Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3Cpath d='M285,425.09a2.85,2.85,0,0,0,2.82-2.4l-.93-.28c-.35,1.15-.9,1.74-1.89,1.74-1.34,0-2.23-.94-2.23-3.09S283.69,418,285,418c1,0,1.54.58,1.89,1.73l.93-.28A2.86,2.86,0,0,0,285,417c-1.78,0-3.25,1.31-3.25,4S283.25,425.09,285,425.09Zm4.51-.09h1l.71-2.1h3.09l.7,2.1h1l-2.8-7.88h-1ZM291.6,422l1.21-3.54L294,422Zm9.32,3.14a2.65,2.65,0,0,0,2.79-2.82v-5.15h-1v5.21a1.8,1.8,0,1,1-3.6,0v-5.21h-1v5.15A2.65,2.65,0,0,0,300.92,425.09Zm7.6-.09h1v-6.93H312v-.95h-5.9v.95h2.45Zm6.2,0h4.8v-.85h-1.91V418h1.91v-.86h-4.8V418h1.9v6.17h-1.9Zm10.5.09c1.71,0,3.06-1.33,3.06-4s-1.35-4-3.06-4-3.06,1.33-3.06,4S323.51,425.09,325.22,425.09Zm0-.94c-1.16,0-2-.86-2-3.09s.88-3.08,2-3.08,2,.86,2,3.08S326.38,424.15,325.22,424.15Zm5.41.85h1v-6.07l3.3,6.07H336v-7.88h-1v6.08l-3.3-6.08h-1.08Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3C/svg%3E");
background-repeat:no-repeat;
background-attachment:scroll;
background-size: 105px 32px;
background-position:2em 1.5em;
}
.warning {
border-color: #F48F0B;
background-color: #fff8e6;
background-image: url("data:image/svg+xml,%3Csvg id='a1d371e5-0534-485a-a4ab-60b6181bd32f' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105 32'%3E%3Cpath d='M261,405h73a16,16,0,0,1,16,16h0a16,16,0,0,1-16,16H261a16,16,0,0,1-16-16h0A16,16,0,0,1,261,405Z' transform='translate(-245 -405)' style='fill:%23101112;fill-opacity:0.05999999865889549'/%3E%3Cpath d='M264.5,422.85v-5.54h1v5.54Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3Cpath d='M264.5,423.77v.92h1v-.92Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3Cpath d='M265,427a6,6,0,1,0-6-6A6,6,0,0,0,265,427Zm0-1a5,5,0,1,0-5-5A5,5,0,0,0,265,426Z' transform='translate(-245 -405)' style='fill:%23101112;fill-rule:evenodd'/%3E%3Cpath d='M282.33,425h1.22l1.16-4.62,1.16,4.62h1.23l.75-7.88h-1l-.48,6.42-1.19-4.81h-.9l-1.19,4.81-.47-6.42h-1Zm7.21,0h1l.71-2.1h3.09l.7,2.1h1l-2.8-7.88h-1ZM291.6,422l1.21-3.54L294,422Zm6.73,3.05h1v-3.71h1.31l2.31,3.71h1.17l-2.35-3.78a1.88,1.88,0,0,0,1.64-2c0-1.4-.92-2.09-2.32-2.09h-2.75Zm1-4.66v-2.27h1.79c.82,0,1.27.35,1.27,1.14s-.45,1.13-1.27,1.13Zm7,4.66h1v-6.07l3.3,6.07h1.08v-7.88h-1v6.08l-3.3-6.08h-1.08Zm8.39,0h4.8v-.85h-1.91V418h1.91v-.86h-4.8V418h1.9v6.17h-1.9Zm7.81,0h1v-6.07l3.3,6.07h1.08v-7.88h-1v6.08l-3.3-6.08h-1.08Zm11,.09a2.06,2.06,0,0,0,2-1.15l.06,1.06h.82v-4h-2.79V422h1.77c-.1,1.4-.69,2.18-1.77,2.18-1.34,0-2.23-.94-2.23-3.09s.89-3.08,2.23-3.08c1,0,1.54.58,1.89,1.73l.94-.28a2.84,2.84,0,0,0-2.83-2.4c-1.78,0-3.25,1.31-3.25,4S331.8,425.09,333.51,425.09Z' transform='translate(-245 -405)' style='fill:%23101112'/%3E%3C/svg%3E");
background-repeat:no-repeat;
background-attachment:scroll;
background-size: 105px 32px;
background-position:2em 1.5em;
}
.danger {
border-color: #F34E16;
background-color: #fff0e6;
background-image: url("data:image/svg+xml,%3Csvg id='b7b35c63-1e02-4f50-8c5f-8f693bc037ce' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 32'%3E%3Cpath d='M265.5,405h64a16,16,0,0,1,16,16h0a16,16,0,0,1-16,16h-64a16,16,0,0,1-16-16h0A16,16,0,0,1,265.5,405Z' transform='translate(-249.5 -405)' style='fill:%23101112;fill-opacity:0.05999999865889549'/%3E%3Cpath d='M269.5,427a6,6,0,1,0-6-6A6,6,0,0,0,269.5,427Zm-.5-9.5h1V422h-1Zm0,6h1v1h-1Z' transform='translate(-249.5 -405)' style='fill:%23101112;fill-rule:evenodd'/%3E%3Cpath d='M286.49,425h2c2,0,3.5-1.27,3.5-3.94s-1.45-3.94-3.5-3.94h-2Zm1-.94v-6h.9c1.56,0,2.54.79,2.54,3s-1,3-2.54,3ZM294,425h1l.71-2.1h3.09l.7,2.1h1l-2.8-7.88h-1ZM296.1,422l1.21-3.54,1.22,3.54Zm6.63,3.05h1v-6.07L307,425h1.08v-7.88h-1v6.08l-3.29-6.08h-1.08Zm11,.09a2.07,2.07,0,0,0,2-1.15l.06,1.06h.82v-4h-2.79V422h1.76c-.1,1.4-.68,2.18-1.76,2.18-1.34,0-2.23-.94-2.23-3.09s.89-3.08,2.23-3.08c1,0,1.54.58,1.89,1.73l.93-.28a2.83,2.83,0,0,0-2.82-2.4c-1.78,0-3.25,1.31-3.25,4S312,425.09,313.71,425.09Zm5.45-.09h5.1v-.94h-4.11v-2.78h3.44v-.95h-3.44v-2.26h4v-.95h-5Zm8,0h1v-3.71h1.32l2.31,3.71h1.17l-2.35-3.78a1.88,1.88,0,0,0,1.64-2c0-1.4-.92-2.09-2.32-2.09h-2.76Zm1-4.66v-2.27h1.79c.82,0,1.27.35,1.27,1.14s-.45,1.13-1.27,1.13Z' transform='translate(-249.5 -405)' style='fill:%23101112'/%3E%3C/svg%3E");
background-repeat:no-repeat;
background-attachment:scroll;
background-size: 96px 32px;
background-position:2em 1.5em;
}
.note {
border-color: #0c62f3;
background-color: #E6F3FF;
background-image: url("data:image/svg+xml,%3Csvg id='bdad55ff-f32e-43a0-9e82-b304f7aae1f1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 32'%3E%3Cpath d='M273.5,405h48a16,16,0,0,1,16,16h0a16,16,0,0,1-16,16h-48a16,16,0,0,1-16-16h0A16,16,0,0,1,273.5,405Z' transform='translate(-257.5 -405)' style='fill:%23101112;fill-opacity:0.05999999865889549'/%3E%3Cpath d='M273.05,415.22h8.89v12l-4.44-3.43-4.45,3.43Zm.89.89v9.32l3.56-2.74,3.55,2.74v-9.32Z' transform='translate(-257.5 -405)' style='fill:%23101112;fill-rule:evenodd'/%3E%3Cpath d='M294.52,425h1v-6.07l3.3,6.07h1.08v-7.88h-1v6.08l-3.3-6.08h-1.08Zm10.79.09c1.71,0,3.06-1.33,3.06-4s-1.35-4-3.06-4-3.06,1.33-3.06,4S303.6,425.09,305.31,425.09Zm0-.94c-1.15,0-2-.86-2-3.09s.88-3.08,2-3.08,2,.86,2,3.08S306.47,424.15,305.31,424.15Zm7.61.85h1v-6.93h2.45v-.95h-5.89v.95h2.45Zm6.13,0h5.11v-.94H320v-2.78h3.45v-.95H320v-2.26h4v-.95h-5Z' transform='translate(-257.5 -405)' style='fill:%23101112'/%3E%3C/svg%3E");
background-repeat:no-repeat;
background-attachment:scroll;
background-size: 80px 32px;
background-position:2em 1.5em;
}
.note .title {
color: #000;
border-color: #0c62f3;
}
ol, ul {
font-size:20px;
font-family: Arrival Apercu Pro, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
line-height:1.4;
}
.alpha-list {
list-style-type:lower-alpha;
}
.invisible{
visibility:hidden;
}
